<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>NOVA UI : Direct Messaging</title>


    <link rel="stylesheet" href="static/css/normalize.css">

    <link rel='stylesheet prefetch' href='static/css/openSans.css'>
    <link rel='stylesheet prefetch' href='static/css/jquery.mCustomScrollbar.min.css'>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="/static/js/jquery-latest.js"></script>
  </head>

  <body>

<div class="chat">
  <div class="chat-title">
    <h1>Nova</h1>
    <h2>Personal AI</h2>
    <figure class="avatar">
      <img src="static/res/botim.jpg" /></figure>
  </div>
  <div class="messages">
    <div class="messages-content"></div>
  </div>
  <div class="message-box">
    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
    <button type="submit" class="message-submit">Send</button>
  </div>
</div>
<div class="bg"></div>
<script src='static/js/jquery.min.js'></script>
<script src='static/js/jquery.mCustomScrollbar.concat.min.js'></script>
<script src="static/js/index.js"></script>




  </body>
</html>
