<html>
<div style="position: absolute; overflow: hidden; width: 383px; height: 383px; top: 16px; left: 35px; z-index: 10;">

    <title>javascript animation</title>
    <script src="js/image.js"></script>

  <center>
<img name="imageWindow" src="novaFiles/fset0.jpg" alt="your image should have been seen here!">
    <form>  <!-- This form contains buttons to control the animation -->
        <input value="Slower" onclick="slower()" type="button">
        <input value="1 sec" onclick="delay=1000;" type="button">
        <input value="Faster" onclick="faster()" type="button">
        <input style="color: rgb(0, 0, 0); background-color: rgb(153, 255, 153);"
               value="Start" onclick="if (timeout_id == null) yanimate( );" type="button">
        <input value="Stop" onclick="killAnimate();" type="button">
        <input value="-1" onclick="killAnimate(); decrementFrame();" type="button">
        <input value="+1" onclick="killAnimate(); incrementFrame();" type="button">
        <input value="First" onclick="killAnimate(); frameNum=0; showFrame();" type="button">
        <input value="Last" onclick="killAnimate(); frameNum=maxFrameNum; showFrame();" type="button">

    </form>
    </div>

  </center>
</body>
<div style="position: absolute; overflow: hidden; top: 400px; left: 35px; z-index: 10;">
<form>  <!-- This form contains buttons to control the animation -->
    <input value="Slower" onclick="slower()" type="button">
    <input value="1 sec" onclick="delay=1000;" type="button">
    <input value="Faster" onclick="faster()" type="button">
    <input style="color: rgb(0, 0, 0); background-color: rgb(153, 255, 153);"
           value="Start" onclick="if (timeout_id == null) yanimate( );" type="button">
    <input value="Stop" onclick="killAnimate();" type="button">
    <input value="-1" onclick="killAnimate(); decrementFrame();" type="button">
    <input value="+1" onclick="killAnimate(); incrementFrame();" type="button">
    <input value="First" onclick="killAnimate(); frameNum=0; showFrame();" type="button">
    <input value="Last" onclick="killAnimate(); frameNum=maxFrameNum; showFrame();" type="button">
    &nbsp;&nbsp;<b id='textWindow'>000</b>
</form></div>
</html>
